/* Estilos generales */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos del header y navegación */
  
  header {
    background-color: #051be5;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos de las secciones */
  
  .section {
    padding: 50px;
    text-align: center;
    animation: fade-in 1s ease;
  }
  
  .section h1 {
    font-size: 36px;
  }
  
  .section p {
    margin-bottom: 20px;
  }
  
  /* Estilos del footer */
  
  footer {
    background-color: #d20202;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .social-media {
    margin-bottom: 20px;
  }
  
  .social-media a {
    display: inline-block;
    margin: 0 10px;
    width: 30px;
    height: 30px;
  }
  
  .footer-links {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
  }
  
  /* Animación de fade-in para las secciones */
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  