#principal {
  border: solid 2px black;
  padding: 5px;
  margin: 0 auto;
  width: 85%;
}

fieldset {
  margin-bottom: 10px;
  background-color: rgb(1, 132, 51);
}

legend {
  border: solid 1px rgb(124, 1, 1);
  padding: 5px;
  font-weight: bold;
  background: rgb(3, 198, 68)   ;
  border-radius: 20px;
}

#mifoto {
  border: solid 2px;
  margin: 10px;
}

body {
  background: url(../135.jpg);
  background-size: 100%;
}